

body {
    height: 100vh;
    background-color: #141414; 
    color: #fff;
    font-family: 'Netflix Sans', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

h1 {
    font-family: 'Netflix Sans', Arial, sans-serif;
    color: #b20710; 
    font-size: 8vh;
    margin-bottom: 10px;
    margin-top: 30px;
    text-shadow: 0 0 8px #8c0d13; 
    animation: float 3s infinite;
}

p {
    font-family: 'Netflix Sans', sans-serif;
    color: #ccc;
}

.thumbnail-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    margin-top: 20px;
    margin-bottom: 20px;  
}

.cover-wrapper {
    transition: 1s;
    margin-right: 15px; 
}

.cover-wrapper:hover {
    transform: scale(1.1);
    filter: brightness(80%); 
}

img {
    max-height: 25vh;
}

.caption {
    font-family: 'Netflix Sans', sans-serif;
    color: #fff;
    margin-top: 10px;
    font-size: 14px;
    opacity: 0;
    text-decoration: none; 
    transition: opacity 0.5s ease-in-out;
}

.cover-wrapper:hover .caption {
    opacity: 1;
}

@keyframes float {
    0% {
        transform: translateY(5px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(5px);
    }
}
